Hormonic_turbidostat.json
[{"id":"314086e2.384aa2","type":"tab","label":"OD & pumps June","disabled":false,"info":""},{"id":"968063cf.6a34d8","type":"delay","z":"314086e2.384aa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":1220,"wires":[["548a29d7.13982","8aea5550.af3b6","996ade34.064f3"]]},{"id":"477ee71c.9a4908","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"0","payloadType":"num","x":95,"y":311,"wires":[["b1505add.5f56"]]},{"id":"996ade34.064f3","type":"function","z":"314086e2.384aa2","name":"Volatge to OD","func":"//a = 181.48;\n//b = 403.18;\n//c = msg.payload-279.87;\n\n//msg.payload = (b-Math.sqrt(Math.pow(b,2)-(4*a*c)))/(2*a);\n\nmsg.payload = msg.payload/273.11 - 1.0004;\nmsg.payload = Math.round(msg.payload*100)/100;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1280,"wires":[["f91414fb.f7e15","eab6c94b.e6f2a8","2f391963.189a76"]]},{"id":"43290a0.09b7578","type":"file","z":"314086e2.384aa2","name":"","filename":"/Directory","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":740,"y":1640,"wires":[[]]},{"id":"54d8b4e5.af564c","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":95,"y":631,"wires":[["fa30d29b.7119d"]]},{"id":"5e694bc5.328d1c","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":95,"y":671,"wires":[["589165fb.517f2c"]]},{"id":"9aa78c2b.37c178","type":"trigger","z":"314086e2.384aa2","name":"","op1":"244","op2":"0","op1type":"num","op2type":"num","duration":"28","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":415,"y":751,"wires":[["c9c8de8c.ef982"]]},{"id":"1b97c6a4.a83711","type":"delay","z":"314086e2.384aa2","name":"","pauseType":"delay","timeout":"28","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":405,"y":791,"wires":[["a3fd3a43.c70808"]]},{"id":"a3fd3a43.c70808","type":"trigger","z":"314086e2.384aa2","name":"","op1":"244","op2":"0","op1type":"num","op2type":"num","duration":"30","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":555,"y":791,"wires":[["4334917f.980d9"]]},{"id":"f99f06b8.c0b","type":"trigger","z":"314086e2.384aa2","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":980,"y":1500,"wires":[["a70e2923.bd2d8"]]},{"id":"f5c6076b.9d5658","type":"delay","z":"314086e2.384aa2","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1560,"wires":[["56dde59a.380a9c"]]},{"id":"56dde59a.380a9c","type":"trigger","z":"314086e2.384aa2","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1100,"y":1560,"wires":[["25f39e9b.1f529a"]]},{"id":"bb94b6ef.c1b168","type":"switch","z":"314086e2.384aa2","name":"Threshold: condition","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"OD_setpoint","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":1560,"wires":[["f99f06b8.c0b","f5c6076b.9d5658"]]},{"id":"fa30d29b.7119d","type":"ui_switch","z":"314086e2.384aa2","name":"","label":"Input pump","tooltip":"","group":"b8284b30.b4e2b8","order":7,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"244","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":511,"y":631,"wires":[["5dc02561.f71adc"]]},{"id":"589165fb.517f2c","type":"ui_switch","z":"314086e2.384aa2","name":"","label":"Waste pump","tooltip":"","group":"b8284b30.b4e2b8","order":8,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"244","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":511,"y":671,"wires":[["7af4662c.641b7"]]},{"id":"548a29d7.13982","type":"ui_text","z":"314086e2.384aa2","group":"186f1804.e5d8f","order":9,"width":6,"height":1,"name":"","label":"OD Voltage Value","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1220,"wires":[]},{"id":"f91414fb.f7e15","type":"ui_text","z":"314086e2.384aa2","group":"b8284b30.b4e2b8","order":11,"width":4,"height":1,"name":"","label":"OD Value","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":1300,"wires":[]},{"id":"8aea5550.af3b6","type":"ui_chart","z":"314086e2.384aa2","name":"","group":"186f1804.e5d8f","order":11,"width":11,"height":6,"label":"OD Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4ba1e8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":1160,"wires":[[]]},{"id":"1e9db08b.b1424f","type":"ui_chart","z":"314086e2.384aa2","name":"","group":"b8284b30.b4e2b8","order":10,"width":10,"height":6,"label":"OD","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b8d6ff","#abd8ff","#abd8ff","#2092c6","#2980b1","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":1260,"wires":[[]]},{"id":"6c230764.8e6bf","type":"trigger","z":"314086e2.384aa2","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":false,"units":"s","reset":"True","bytopic":"all","topic":"topic","outputs":1,"x":430,"y":1040,"wires":[["2f857329.f17b3c","53fde79b.2761d"]]},{"id":"b1505add.5f56","type":"ui_switch","z":"314086e2.384aa2","name":"","label":"Fan","tooltip":"","group":"790889c9.18d238","order":13,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"200","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":595,"y":311,"wires":[["cf215035.95082"]]},{"id":"f453a8e5.acb9e","type":"ui_switch","z":"314086e2.384aa2","name":"","label":"OD measurement","tooltip":"","group":"b8284b30.b4e2b8","order":1,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":480,"wires":[["f542c0f9.98c8a8"]]},{"id":"d32a559e.5abed","type":"change","z":"314086e2.384aa2","name":"","rules":[{"t":"set","p":"ODmeasure","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":900,"wires":[[]]},{"id":"53fde79b.2761d","type":"function","z":"314086e2.384aa2","name":"Led on/off","func":"if (msg.payload) {\n    msg.payload = 250\n}\nelse {\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1060,"wires":[["8b6ddf72.b89368"]]},{"id":"2f857329.f17b3c","type":"function","z":"314086e2.384aa2","name":"Fan on/off","func":"if (msg.payload) {\n    msg.payload = 0\n}\nelse {\n    msg.payload = 200\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1020,"wires":[["ab2e98f2.86953"]]},{"id":"ab2e98f2.86953","type":"link out","z":"314086e2.384aa2","name":"","links":["f6d44a9.e4c2b38"],"x":775,"y":1020,"wires":[]},{"id":"f6d44a9.e4c2b38","type":"link in","z":"314086e2.384aa2","name":"","links":["ab2e98f2.86953","4000d9cd.8ba0f8","97bb5445.bdb72","9afab22c.b9efc8"],"x":440,"y":291,"wires":[["b1505add.5f56"]]},{"id":"eab6c94b.e6f2a8","type":"link out","z":"314086e2.384aa2","name":"","links":["e10e65b5.6816","fe155624.824858"],"x":735,"y":1320,"wires":[]},{"id":"3071713e.a5006e","type":"link in","z":"314086e2.384aa2","name":"","links":[],"x":-35,"y":960,"wires":[[]]},{"id":"e10e65b5.6816","type":"link in","z":"314086e2.384aa2","name":"","links":["eab6c94b.e6f2a8","fc32f931.f5599"],"x":35,"y":1560,"wires":[["3f5f2cf9.a8d2b4"]]},{"id":"4f5cfc76.3ca59c","type":"link in","z":"314086e2.384aa2","name":"","links":["298657e7.742b2","c9c8de8c.ef982","1dedb58d.70aa8a","f66ed11a.706ac8","fcb75ae.41d03a8","a70e2923.bd2d8"],"x":180,"y":591,"wires":[["49ad2403.530c84"]]},{"id":"548893f7.cd9414","type":"link in","z":"314086e2.384aa2","name":"","links":["ffff2f43.cc37f","8671369e.9a60e8","1dedb58d.70aa8a","f66ed11a.706ac8","7ab89279.cf4484","25f39e9b.1f529a"],"x":180,"y":711,"wires":[["f6d544ed.d50ae"]]},{"id":"4051d76a.b2bc7","type":"switch","z":"314086e2.384aa2","name":"","property":"ODmeasure","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":245,"y":1209,"wires":[["968063cf.6a34d8"]]},{"id":"ee2ba8c1.b46318","type":"delay","z":"314086e2.384aa2","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":980,"wires":[["bf50b919.913348"]]},{"id":"fb1660b2.8f5bc","type":"ui_button","z":"314086e2.384aa2","name":"","group":"790889c9.18d238","order":6,"width":3,"height":1,"passthru":false,"label":"LAUNCH","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":85,"y":131,"wires":[["c6c8991f.890728","3710ae11.707732","930d21fd.b00438"]]},{"id":"6d6f48ba.b8dd6","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":270,"y":440,"wires":[["f453a8e5.acb9e"]]},{"id":"e8965b33.09611","type":"link in","z":"314086e2.384aa2","name":"","links":["30dbb26b.69ede6","2ee1fe06.7cf70a"],"x":180,"y":771,"wires":[["9aa78c2b.37c178","1b97c6a4.a83711"]]},{"id":"8e9e76d6.4fdc68","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"false","payloadType":"bool","x":610,"y":900,"wires":[["d32a559e.5abed"]]},{"id":"946d5e7a.8fc5a","type":"ui_button","z":"314086e2.384aa2","name":"","group":"790889c9.18d238","order":9,"width":3,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":397,"y":131,"wires":[["b923394.7075b48","c0bac4ac.1d7398","2dbd033c.aad584"]]},{"id":"bc25cacd.f2ab08","type":"link in","z":"314086e2.384aa2","name":"","links":["b101fb8e.476978","98b36324.6a9d98","17ecdbd0.27dac4","4fbccb0d.840c9c","e555c315.44a6d"],"x":40,"y":479,"wires":[["f453a8e5.acb9e"]]},{"id":"c9c8de8c.ef982","type":"link out","z":"314086e2.384aa2","name":"","links":["4f5cfc76.3ca59c"],"x":780,"y":751,"wires":[]},{"id":"8671369e.9a60e8","type":"link out","z":"314086e2.384aa2","name":"","links":["548893f7.cd9414"],"x":780,"y":791,"wires":[]},{"id":"826b5535.816098","type":"comment","z":"314086e2.384aa2","name":"Set-up","info":"Pumps initial setup","x":75,"y":771,"wires":[]},{"id":"a89c1828.2eedd8","type":"link in","z":"314086e2.384aa2","name":"","links":["1dedb58d.70aa8a","3f8f080f.e8984","f66ed11a.706ac8","c1b8496a.753948"],"x":300,"y":351,"wires":[["d36ec9b7.9c98d"]]},{"id":"c0bac4ac.1d7398","type":"change","z":"314086e2.384aa2","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":517,"y":91,"wires":[["98b36324.6a9d98"]]},{"id":"b923394.7075b48","type":"change","z":"314086e2.384aa2","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":131,"wires":[["1dedb58d.70aa8a"]]},{"id":"1dedb58d.70aa8a","type":"link out","z":"314086e2.384aa2","name":"","links":["a89c1828.2eedd8","e3f815b8.1d65f8","4f5cfc76.3ca59c","548893f7.cd9414","5a5cb52d.a101b4","15743b24.81ce55","652b0e1d.5ce88","11842c3a.1857e4","e49819c2.e178"],"x":600,"y":131,"wires":[]},{"id":"3710ae11.707732","type":"change","z":"314086e2.384aa2","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":215,"y":91,"wires":[["17ecdbd0.27dac4"]]},{"id":"c6c8991f.890728","type":"change","z":"314086e2.384aa2","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":215,"y":131,"wires":[["3f8f080f.e8984"]]},{"id":"98b36324.6a9d98","type":"link out","z":"314086e2.384aa2","name":"","links":["bc25cacd.f2ab08","207405bd.b38e22","7e35ad3f.f44c84"],"x":602,"y":91,"wires":[]},{"id":"3f8f080f.e8984","type":"link out","z":"314086e2.384aa2","name":"","links":["a89c1828.2eedd8"],"x":300,"y":131,"wires":[]},{"id":"17ecdbd0.27dac4","type":"link out","z":"314086e2.384aa2","name":"","links":["bc25cacd.f2ab08","207405bd.b38e22","7e35ad3f.f44c84"],"x":300,"y":91,"wires":[]},{"id":"d36ec9b7.9c98d","type":"function","z":"314086e2.384aa2","name":"","func":"if (msg.payload == 1) {\n    msg.payload = 200\n}\nelse {\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":405,"y":351,"wires":[["b1505add.5f56"]]},{"id":"9dbedb39.4a0b","type":"ui_button","z":"314086e2.384aa2","name":"","group":"790889c9.18d238","order":3,"width":3,"height":1,"passthru":false,"label":"SETUP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":725,"y":131,"wires":[["30dbb26b.69ede6","23b5d8aa.a0887"]]},{"id":"30dbb26b.69ede6","type":"link out","z":"314086e2.384aa2","name":"","links":["e8965b33.09611","afc63aee.d1579"],"x":840,"y":91,"wires":[]},{"id":"2dbd033c.aad584","type":"change","z":"314086e2.384aa2","name":"Stop","rules":[{"t":"set","p":"stop","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":171,"wires":[[]]},{"id":"23b5d8aa.a0887","type":"change","z":"314086e2.384aa2","name":"Stop","rules":[{"t":"set","p":"stop","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":131,"wires":[[]]},{"id":"930d21fd.b00438","type":"change","z":"314086e2.384aa2","name":"Stop","rules":[{"t":"set","p":"stop","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":215,"y":171,"wires":[[]]},{"id":"4334917f.980d9","type":"function","z":"314086e2.384aa2","name":"if stop","func":"var stop = flow.get('stop');\nif (stop) {\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":695,"y":791,"wires":[["8671369e.9a60e8"]]},{"id":"abdc2e1e.eeaa78","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":95,"y":1771,"wires":[["291ad24a.d977ae"]]},{"id":"291ad24a.d977ae","type":"ui_numeric","z":"314086e2.384aa2","name":"","label":"Setpoint","tooltip":"","group":"4e4f7616.256ea","order":1,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"setpoint","format":"{{value}}","min":"36","max":"40","step":"0.5","x":100,"y":1840,"wires":[["87df4db5.4769e8"]]},{"id":"6cd7a4a3.1e9d44","type":"delay","z":"314086e2.384aa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":265,"y":1911,"wires":[["e69de4ec.306118","ebadf0b2.1717d8","bea98758.1bf6b8","f593c7e9.82fc18"]]},{"id":"e69de4ec.306118","type":"ui_text","z":"314086e2.384aa2","group":"186f1804.e5d8f","order":5,"width":5,"height":1,"name":"","label":"Temp Voltage Value","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":1960,"wires":[]},{"id":"ebadf0b2.1717d8","type":"function","z":"314086e2.384aa2","name":"Voltage to temperature","func":"msg.payload = -0.1086*msg.payload + 85.926\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":2000,"wires":[["46441afc.33d464","79a24a20.f54c24","8ccd4386.584ab"]]},{"id":"79a24a20.f54c24","type":"ui_text","z":"314086e2.384aa2","group":"4e4f7616.256ea","order":9,"width":4,"height":1,"name":"","label":"Temp Value","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":2000,"wires":[]},{"id":"46441afc.33d464","type":"ui_chart","z":"314086e2.384aa2","name":"","group":"4e4f7616.256ea","order":8,"width":8,"height":6,"label":"Temp ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"35","ymax":"40","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":1940,"wires":[[]]},{"id":"bea98758.1bf6b8","type":"ui_chart","z":"314086e2.384aa2","name":"","group":"186f1804.e5d8f","order":7,"width":7,"height":6,"label":"Temp Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":1920,"wires":[[]]},{"id":"f593c7e9.82fc18","type":"PID","z":"314086e2.384aa2","name":"","setpoint":"500","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"1","disabled_op":0,"x":570,"y":1860,"wires":[["bf81b1ad.d83e6","4a5ec494.f6edc4"]]},{"id":"733e2c44.f00aa4","type":"ui_chart","z":"314086e2.384aa2","name":"","group":"186f1804.e5d8f","order":7,"width":4,"height":2,"label":"ONOFF heater","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.01","ymax":"1","removeOlder":"24","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#292f32","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":1860,"wires":[[]]},{"id":"87df4db5.4769e8","type":"function","z":"314086e2.384aa2","name":"Temperature to Voltage","func":"msg.payload = (msg.payload - 85.926)/(-0.1086);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1840,"wires":[["f593c7e9.82fc18"]]},{"id":"e1e09caa.aa08a8","type":"configurable interval","z":"314086e2.384aa2","name":"int","interval":"1","onstart":false,"do_enable":true,"msg":"true","showstatus":false,"unit":"minutes","statusformat":"YYYY-MM-D HH:mm:ss","x":190,"y":1020,"wires":[["6c230764.8e6bf","70f940f4.b6be48","ee2ba8c1.b46318"]]},{"id":"3e12291d.114796","type":"link in","z":"314086e2.384aa2","name":"","links":["4756bb2f.57c87c","92c66ae9.f14a5","2b0f1759.cb7a6"],"x":35,"y":1020,"wires":[["e1e09caa.aa08a8"]]},{"id":"92c66ae9.f14a5","type":"link out","z":"314086e2.384aa2","name":"","links":["3e12291d.114796"],"x":755,"y":480,"wires":[]},{"id":"e549e8a1.97e2a8","type":"change","z":"314086e2.384aa2","name":"disabled","rules":[{"t":"set","p":"payload","pt":"msg","to":"disabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":960,"wires":[["e1e09caa.aa08a8"]]},{"id":"cd972769.e3c228","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":960,"wires":[["e549e8a1.97e2a8"]]},{"id":"f542c0f9.98c8a8","type":"function","z":"314086e2.384aa2","name":"enable/disable","func":"if (msg.payload) {\n    msg.payload = \"enabled\"\n}\nelse{\n    msg.payload = \"disabled\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["92c66ae9.f14a5"]]},{"id":"70f940f4.b6be48","type":"link out","z":"314086e2.384aa2","name":"","links":["dba8c4cb.2c0c2","7417369b.e46e38"],"x":255,"y":1080,"wires":[]},{"id":"f6eda3ee.368688","type":"comment","z":"314086e2.384aa2","name":"--- Fan ---","info":"","x":65,"y":271,"wires":[]},{"id":"f7c4a40f.dc3b28","type":"comment","z":"314086e2.384aa2","name":"--- IR Led ---","info":"","x":75,"y":431,"wires":[]},{"id":"f7b60d27.b8a448","type":"comment","z":"314086e2.384aa2","name":"--- Pumps ---","info":"","x":75,"y":591,"wires":[]},{"id":"e868d725.0667e8","type":"comment","z":"314086e2.384aa2","name":"--- OD PERIODIC MEASUREMENT ---","info":"","x":155,"y":914,"wires":[]},{"id":"7d099a70.c8d2dc","type":"comment","z":"314086e2.384aa2","name":"--- TEMPERATURE CONTROL---","info":"","x":135,"y":1731,"wires":[]},{"id":"e8d2f859.23ab1","type":"comment","z":"314086e2.384aa2","name":"--- ARDUINO PINS ---","info":"","x":105,"y":231,"wires":[]},{"id":"e0d4c500.187a7","type":"comment","z":"314086e2.384aa2","name":"--- Bang-bang controller ---","info":"","x":125,"y":1411,"wires":[]},{"id":"8b6ddf72.b89368","type":"ui_switch","z":"314086e2.384aa2","name":"","label":"IR led","tooltip":"","group":"b8284b30.b4e2b8","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"250","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":830,"y":1060,"wires":[["6f09c64e.865488"]]},{"id":"29184159.3371fe","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":650,"y":1100,"wires":[["8b6ddf72.b89368"]]},{"id":"652b0e1d.5ce88","type":"link in","z":"314086e2.384aa2","name":"","links":["1dedb58d.70aa8a","f66ed11a.706ac8"],"x":755,"y":1100,"wires":[["8b6ddf72.b89368"]]},{"id":"bf81b1ad.d83e6","type":"function","z":"314086e2.384aa2","name":"","func":"if (msg.payload == 1){\n    msg.payload = 0;\n} else{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1860,"wires":[["733e2c44.f00aa4"]]},{"id":"4a5ec494.f6edc4","type":"function","z":"314086e2.384aa2","name":"","func":"if (msg.payload == 1){\n    msg.payload = 0;\n} else{\n    msg.payload = 150;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1800,"wires":[["e09565b2.da2a7"]]},{"id":"e09565b2.da2a7","type":"ui_switch","z":"314086e2.384aa2","name":"","label":"Heater","tooltip":"","group":"4e4f7616.256ea","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"150","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":890,"y":1800,"wires":[["c8394b2c.249aa"]]},{"id":"49ad2403.530c84","type":"function","z":"314086e2.384aa2","name":"","func":"if (msg.payload == 1){\n    msg.payload = 244;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":285,"y":591,"wires":[["fa30d29b.7119d"]]},{"id":"f6d544ed.d50ae","type":"function","z":"314086e2.384aa2","name":"","func":"if (msg.payload == 1){\n    msg.payload = 244;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":285,"y":711,"wires":[["589165fb.517f2c"]]},{"id":"a70e2923.bd2d8","type":"link out","z":"314086e2.384aa2","name":"","links":["4f5cfc76.3ca59c"],"x":1115,"y":1500,"wires":[]},{"id":"25f39e9b.1f529a","type":"link out","z":"314086e2.384aa2","name":"","links":["548893f7.cd9414"],"x":1195,"y":1560,"wires":[]},{"id":"cf215035.95082","type":"arduino out","z":"314086e2.384aa2","name":"Fan","pin":"3","state":"PWM","arduino":"3b0aedee.ec439a","x":735,"y":311,"wires":[]},{"id":"7af4662c.641b7","type":"arduino out","z":"314086e2.384aa2","name":"Waste pump","pin":"10","state":"PWM","arduino":"3b0aedee.ec439a","x":775,"y":671,"wires":[]},{"id":"6f09c64e.865488","type":"arduino out","z":"314086e2.384aa2","name":"LED","pin":"6","state":"PWM","arduino":"3b0aedee.ec439a","x":960,"y":1060,"wires":[]},{"id":"c8394b2c.249aa","type":"arduino out","z":"314086e2.384aa2","name":"Heaters","pin":"5","state":"PWM","arduino":"3b0aedee.ec439a","x":1040,"y":1800,"wires":[]},{"id":"c426e0.c622592","type":"arduino in","z":"314086e2.384aa2","name":"Photodiode","pin":"0","state":"ANALOG","arduino":"3b0aedee.ec439a","x":90,"y":1220,"wires":[["4051d76a.b2bc7"]]},{"id":"d1bd90e5.c1b628","type":"arduino in","z":"314086e2.384aa2","name":"Photodiode","pin":"1","state":"ANALOG","arduino":"3b0aedee.ec439a","x":95,"y":1911,"wires":[["6cd7a4a3.1e9d44"]]},{"id":"bf50b919.913348","type":"trigger","z":"314086e2.384aa2","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":980,"wires":[["d32a559e.5abed","2974909f.a86dd8"]]},{"id":"bfa938c.3513748","type":"statistics","z":"314086e2.384aa2","name":"Mean","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":true,"resultOnly":true,"x":330,"y":1560,"wires":[["a873590a.f70be8"]]},{"id":"a873590a.f70be8","type":"switch","z":"314086e2.384aa2","name":"Mean: condition","property":"mean","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1560,"wires":[["bb94b6ef.c1b168","43290a0.09b7578","81d03fc.934ebc"]]},{"id":"5584e330.a92d44","type":"change","z":"314086e2.384aa2","name":"","rules":[{"t":"set","p":"mean","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":980,"wires":[[]]},{"id":"2974909f.a86dd8","type":"delay","z":"314086e2.384aa2","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":980,"wires":[["5584e330.a92d44"]]},{"id":"391b7f6e.d8cb68","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"false","payloadType":"bool","x":830,"y":940,"wires":[["5584e330.a92d44"]]},{"id":"3f5f2cf9.a8d2b4","type":"function","z":"314086e2.384aa2","name":"Mean function label","func":"if(msg.topic === \"A0\"){\n    msg.topic = \"data/mean\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":1560,"wires":[["bfa938c.3513748"]]},{"id":"81d03fc.934ebc","type":"function","z":"314086e2.384aa2","name":"OD label","func":"msg.topic = \"Mean OD\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1460,"wires":[["d7a338b3.d406c8"]]},{"id":"2f391963.189a76","type":"function","z":"314086e2.384aa2","name":"OD: label","func":"msg.topic = \"OD\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1260,"wires":[["1e9db08b.b1424f"]]},{"id":"2d69bebb.22a41a","type":"ui_numeric","z":"314086e2.384aa2","name":"","label":"OD setpoint","tooltip":"","group":"b8284b30.b4e2b8","order":3,"width":5,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1","step":"0.05","x":250,"y":1460,"wires":[["fc2f4bdf.4c3948"]]},{"id":"8ccd4386.584ab","type":"ui_gauge","z":"314086e2.384aa2","name":"","group":"4e4f7616.256ea","order":3,"width":4,"height":3,"gtype":"gage","title":"Temperature [ºC]","label":"units","format":"{{value}}","min":"35","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":2060,"wires":[]},{"id":"ab8dd63d.5a0b4","type":"comment","z":"314086e2.384aa2","name":"--- CONTROL PANEL ---","info":"","x":110,"y":40,"wires":[]},{"id":"d7a338b3.d406c8","type":"link out","z":"314086e2.384aa2","name":"","links":["28b710b6.57d108"],"x":875,"y":1460,"wires":[]},{"id":"28b710b6.57d108","type":"link in","z":"314086e2.384aa2","name":"","links":["d7a338b3.d406c8"],"x":830,"y":1329,"wires":[["f91414fb.f7e15"]]},{"id":"8379308b.b2e218","type":"comment","z":"314086e2.384aa2","name":"Set periodicity","info":"Change measurement periodicity by changing the value of the INTERVAL parameter within the INT node.","x":125,"y":1049,"wires":[]},{"id":"f09b596c.7eb308","type":"comment","z":"314086e2.384aa2","name":"Mean: control variable","info":"Value that controls mean OD measurement report: we want a 10 second mean, therefore, only when the 10th message arrives will this control variable be set as TRUE. ","x":1155,"y":969,"wires":[]},{"id":"452f53f7.9a3d24","type":"comment","z":"314086e2.384aa2","name":"OD: control variable","info":"Value that controls the photodiode's analog value reporting: we want to measure 10 seconds after the fan is turned off in order to avoid disturbances. It will be set to TRUE for measurement reporting.","x":985,"y":889,"wires":[]},{"id":"c6480058.c645","type":"comment","z":"314086e2.384aa2","name":"OD: control variable","info":"Only when ODmeasure is TRUE will the values coming from the photodiode taken into account.","x":245,"y":1169,"wires":[]},{"id":"78dcc010.94a0f8","type":"comment","z":"314086e2.384aa2","name":"Transfer function","info":"Obtained from OD calibration experiment. Check the Turbidostat's book for more information on how to obtain this transfer function.","x":575,"y":1309,"wires":[]},{"id":"9af0c1e.22f9e4","type":"comment","z":"314086e2.384aa2","name":"Data file","info":"Make sure to define the directory of your file","x":840,"y":1620,"wires":[]},{"id":"4a9a6ae1.0de84c","type":"comment","z":"314086e2.384aa2","name":"Transfer Function","info":"Obtained from Temperature calibration experiment. Check the Turbidostat's book for more information on how to obtain this transfer function.","x":600,"y":2040,"wires":[]},{"id":"24113844.38436","type":"comment","z":"314086e2.384aa2","name":"Mean: control variable","info":"Only when the variable flow is equal to TRUE will the information realted to the OD mean go on through the flow and perform the dilution process if needed","x":500,"y":1520,"wires":[]},{"id":"30706b00.b100f6","type":"comment","z":"314086e2.384aa2","name":"Bang-bang controller","info":"Only when the measured OD value is larger than the defined setpoint will the dilution process occur. Otherwise, the system will stay the same  until the next set of measurements arrives.","x":740,"y":1520,"wires":[]},{"id":"98ae6da7.7fee08","type":"inject","z":"314086e2.384aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":90,"y":1480,"wires":[["2d69bebb.22a41a"]]},{"id":"fc2f4bdf.4c3948","type":"change","z":"314086e2.384aa2","name":"","rules":[{"t":"set","p":"OD_setpoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1460,"wires":[[]]},{"id":"475ffd24.8af284","type":"comment","z":"314086e2.384aa2","name":"PID controller","info":"All of the parameters related to this control mechanism can be changed within the PID node","x":570,"y":1820,"wires":[]},{"id":"4fcae0a4.2aa7","type":"comment","z":"314086e2.384aa2","name":"Transfer Function","info":"Invert transfer function of the Voltage to temperatuere TF. Check the Turbidostat's book for more information on how to obtain this transfer function.","x":340,"y":1800,"wires":[]},{"id":"56459287.f9bcac","type":"comment","z":"314086e2.384aa2","name":"Fan: arduino node","info":"Remember to check the port to which your arduino microcontroller is connected and change it. To do so, press the \"Pencil\" icon to the right of the ARDUINO parameter, and search for the port. If done correctly, the node should display CONNECTED.","x":770,"y":280,"wires":[]},{"id":"93f8aed0.e3311","type":"comment","z":"314086e2.384aa2","name":"LB pump: arduino node","info":"Remember to check the port to which your arduino microcontroller is connected and change it. To do so, press the \"Pencil\" icon to the right of the ARDUINO parameter, and search for the port.If done correctly, the node should display CONNECTED.","x":940,"y":620,"wires":[]},{"id":"79bf22cb.5c0fec","type":"comment","z":"314086e2.384aa2","name":"Waste pump: arduino node","info":"Remember to check the port to which your arduino microcontroller is connected and change it. To do so, press the \"Pencil\" icon to the right of the ARDUINO parameter, and search for the port.\nIf done correctly, the node should display CONNECTED.","x":970,"y":660,"wires":[]},{"id":"53441ec8.85e488","type":"comment","z":"314086e2.384aa2","name":"IR LED: arduino node","info":"Remember to check the port to which your arduino microcontroller is connected and change it. To do so, press the \"Pencil\" icon to the right of the ARDUINO parameter, and search for the port.If done correctly, the node should display CONNECTED.","x":1115,"y":1049,"wires":[]},{"id":"2687ab53.2b1db4","type":"comment","z":"314086e2.384aa2","name":"Heater: arduino node","info":"Remember to check the port to which your arduino microcontroller is connected and change it. To do so, press the \"Pencil\" icon to the right of the ARDUINO parameter, and search for the port.If done correctly, the node should display CONNECTED.","x":1200,"y":1800,"wires":[]},{"id":"67165173.67b368","type":"comment","z":"314086e2.384aa2","name":"Thermistor: arduino node","info":"Remember to check the port to which your arduino microcontroller is connected and change it. To do so, press the \"Pencil\" icon to the right of the ARDUINO parameter, and search for the port.If done correctly, the node should display CONNECTED.","x":130,"y":1960,"wires":[]},{"id":"36180d28.56361a","type":"comment","z":"314086e2.384aa2","name":"Photodiode: arduino node","info":"Remember to check the port to which your arduino microcontroller is connected and change it. To do so, press the \"Pencil\" icon to the right of the ARDUINO parameter, and search for the port.If done correctly, the node should display CONNECTED.","x":125,"y":1269,"wires":[]},{"id":"5dc02561.f71adc","type":"arduino out","z":"314086e2.384aa2","name":"LB pump","pin":"9","state":"PWM","arduino":"3b0aedee.ec439a","x":765,"y":631,"wires":[]},{"id":"bd270ec5.49575","type":"comment","z":"314086e2.384aa2","name":"OD: disturbances","info":"10 second delay to ensure no fan-related disturbances","x":440,"y":940,"wires":[]},{"id":"332cad83.b4413a","type":"comment","z":"314086e2.384aa2","name":"Mean: computation","info":"10 second mean over the last 10 variables coming ffrom the photodiode","x":290,"y":1520,"wires":[]},{"id":"b8284b30.b4e2b8","type":"ui_group","z":"","name":"OD","tab":"d7451ccd.cb12a","order":2,"disp":true,"width":10,"collapse":false},{"id":"186f1804.e5d8f","type":"ui_group","z":"","name":"OD Calibration iGEM","tab":"","order":1,"disp":true,"width":21,"collapse":false},{"id":"790889c9.18d238","type":"ui_group","z":"","name":"Control Panel","tab":"d7451ccd.cb12a","order":1,"disp":true,"width":5,"collapse":false},{"id":"4e4f7616.256ea","type":"ui_group","z":"","name":"Temperature","tab":"d7451ccd.cb12a","order":3,"disp":true,"width":8,"collapse":false},{"id":"3b0aedee.ec439a","type":"arduino-board","z":"","device":"/dev/tty.usbmodem1411"},{"id":"d7451ccd.cb12a","type":"ui_tab","z":"","name":"Hormonic","icon":"dashboard","order":1,"disabled":false,"hidden":false}]